@mixin fGeorgia ($fontSize, $fontColor, $fontWeight) {
	font-size: $fontSize;
	color: $fontColor;
	font-weight: $fontWeight;
	font-family: "Georgia", "Times New Roman", sans-serif;
}

.mainContainer {
	width: 100%;
	text-align: center;
}

canvas {
	margin: 0 auto;
	background: #333333;
}