@mixin fGeorgia ($fontSize, $fontColor, $fontWeight) {
	font-size: $fontSize;
	color: $fontColor;
	font-weight: $fontWeight;
	font-family: "Georgia", "Times New Roman", sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 320px;
}

.mainContainer {
	width: 100%;
	height: 100%;
	padding: 10% 0;
	text-align: center;

	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

}

canvas {
	margin: 0 auto;
	background: transparent;
	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

/*** VIRTUAL SHAPES ***/
.appContainer {
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
	padding: 2% 0;
	display: block;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	-ms-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	border: 4px solid #ffffff;

	background: #ddd26a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ddd26a 0%, #ffffff 6%, #ffffff 93%, #ddd26a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd26a), color-stop(6%,#ffffff), color-stop(93%,#ffffff), color-stop(100%,#ddd26a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ddd26a 0%,#ffffff 6%,#ffffff 93%,#ddd26a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ddd26a 0%,#ffffff 6%,#ffffff 93%,#ddd26a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ddd26a 0%,#ffffff 6%,#ffffff 93%,#ddd26a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ddd26a 0%,#ffffff 6%,#ffffff 93%,#ddd26a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd26a', endColorstr='#ddd26a',GradientType=0 ); /* IE6-9 */

	.titleBlock {

		width: 200px;
		margin: 0 0 0 20px;
		padding: 8px;
		color: #ffffff;

		-moz-border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px;
		-ms-border-radius: 5px 5px 0px 0px;
		border-radius: 5px 5px 0px 0px;
		border: 1px solid purple;

		background: #dbfcf8; /* Old browsers */
		background: -moz-linear-gradient(top,  #dbfcf8 1%, #87e0fd 20%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dbfcf8), color-stop(20%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dbfcf8 1%,#87e0fd 20%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dbfcf8 1%,#87e0fd 20%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dbfcf8 1%,#87e0fd 20%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dbfcf8 1%,#87e0fd 20%,#53cbf1 40%,#05abe0 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbfcf8', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	}

}

.shapeChooser {
	padding: 10px;
	z-index: 900;
	position: absolute;

	ul {
		max-width: 800px;
		li.empty {
			background: black;
			display: block;
			height: inherit;
		}
	}
	.shapeChooserItem {
		cursor: pointer;
	}
}